* {
    background-color: beige;
}

body {
    margin: 0;
}

.title {
    text-align: center;
    font-size: 34px;
    background-color: rgba(107, 9, 9, 0.677);
    margin: 0;
    padding: 0;
    height: 80px;
}

.list {
    font-size: 40px;
    text-align: center;
}

.receita {
    display: inline;
}

a {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 20%;
}

.principal {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}
